@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-container {
    position: relative;
    width: 100%;
    height: 400px;
    max-width: 800px;
    margin: 0 auto;
}

canvas {
    width: 100% !important;
    height: auto !important;
}
